openapi: 3.0.1
info:
  title: Blockchair Address Dashboards Stats API
  description: The Blockchair API provides unified, multi-blockchain access to on-chain data across 40+ blockchains. It exposes per-chain dashboards (address, transaction, block), raw node data, network statistics, a SQL-like database query interface (blocks, transactions, outputs, addresses), and transaction broadcasting. Requests are authenticated with an optional `key` query parameter; up to 1440 requests per day are allowed without a key for personal or testing use.
  termsOfService: https://blockchair.com/api/docs
  contact:
    name: Blockchair Support
    url: https://github.com/Blockchair/Blockchair.Support
  version: 2.0.80
servers:
- url: https://api.blockchair.com
  description: Blockchair production API
security:
- apiKey: []
tags:
- name: Stats
  description: Network and chain statistics.
paths:
  /{chain}/stats:
    get:
      operationId: getChainStats
      tags:
      - Stats
      summary: Get blockchain statistics
      description: Returns overall statistics for a single blockchain.
      parameters:
      - $ref: '#/components/parameters/chain'
      - $ref: '#/components/parameters/key'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'
  /stats:
    get:
      operationId: getMultiChainStats
      tags:
      - Stats
      summary: Get multi-chain statistics
      description: Returns aggregated statistics across all supported blockchains.
      parameters:
      - $ref: '#/components/parameters/key'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'
  /cross-chain/{token}/stats:
    get:
      operationId: getCrossChainTokenStats
      tags:
      - Stats
      summary: Get cross-chain token statistics
      description: Returns statistics for a cross-chain token (e.g. USDT, USDC) across the chains it is issued on.
      parameters:
      - name: token
        in: path
        required: true
        description: Cross-chain token symbol.
        schema:
          type: string
          example: usdt
      - $ref: '#/components/parameters/key'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResponse'
components:
  parameters:
    chain:
      name: chain
      in: path
      required: true
      description: Blockchain slug (e.g. bitcoin, ethereum, litecoin, dogecoin).
      schema:
        type: string
        example: bitcoin
    key:
      name: key
      in: query
      required: false
      description: API key.
      schema:
        type: string
  schemas:
    StatsResponse:
      type: object
      properties:
        data:
          type: object
          description: Blockchain statistics keyed by metric.
        context:
          $ref: '#/components/schemas/Context'
    Context:
      type: object
      description: Metadata describing the request, cost, and server state.
      properties:
        code:
          type: integer
          example: 200
        source:
          type: string
        results:
          type: integer
        state:
          type: integer
          description: Current best block height of the chain.
        cache:
          type: object
        api:
          type: object
          properties:
            version:
              type: string
            last_major_update:
              type: string
            next_major_update:
              type: string
        request_cost:
          type: number
          description: Number of API request units this call consumed.
        time:
          type: number
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: key
      description: Optional API key passed as the `key` query parameter. Up to 1440 requests per day are allowed without a key for personal/testing use.
